.task {
  background-color: rgb(52, 47, 60);
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity .3s linear;
  min-height: 15px;
}

.container-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.task-name {
  margin: 6px;
}

.task.done {
  opacity: 0.3;
}

.task-name .task-form {
  flex-grow: 1;
}
.task-name  {
  flex-grow: 1;
}


.task span {
  position: relative;
  margin-left: 10px;
}

.checked {
  display: flex;
  align-items: center;
}

.trash {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  height: auto;
}

.task-form input {
  width: 100%;
  font-size: 16px;
  color: blanchedalmond;
  border: none;
  padding: 2px 4px;
  background-color: transparent;
}

.task-form input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}